
@media (max-width: 768px) {
	.owl-banner .owl-nav {
		display: none;
	}
}

@media (max-width: 992px) 
{
	.navbar .navbar-brand 
	{
		position: absolute;
		left: 30px;
		top: 17px;
	}
	.background-header .navbar-brand,
	.background-header .navbar-toggler 	{
		top: 25px;
	}
	.navbar .navbar-brand {
		width: auto;
	}
	.navbar:after {
		display: none;
	}
	
	#navbarResponsive 
	{
	    z-index: 99999;
	    position: absolute;
	    top: 100px;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    background-color: #fff;
	    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	}
	.navbar .navbar-nav .nav-item {
		border-bottom: 1px solid #eee;
	}
	.navbar .navbar-nav .nav-item:last-child {
		border-bottom: none;
	}
	.navbar .navbar-nav a.nav-link {
		padding: 15px 0px;
		color: #1e1e1e!important;
	}
	
	.navbar .navbar-nav .nav-link:hover,
	.navbar .navbar-nav .active>.nav-link,
	.navbar .navbar-nav .nav-link.active,
	.navbar .navbar-nav .nav-link.show,
	.navbar .navbar-nav .show>.nav-link {
		color: #f48840!important;
		border-bottom: none!important;
		padding-bottom: 25px;
	}
	