
.introphoto {
  background-image: url("../images/ai-cs.jpg");
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
  	
  
}
/*
/* mobile view sathi ji aai ghalaychi ti ithe*/
@media only screen and (max-width: 500px) 
{
  .introphoto 
	{
    /* Mobile sathi ith as kely zattu chukvu nako ata*/
    background-image: url('assets/images/home3.jpg');  
    background-repeat: no-repeat;
  
	}

  .navbar-brand em{
    font-size: 20px;
  }

  .black-text{
    font-size: 10px;
  }
}
 
